{% extends "airline/b_generic.html" %} 
{% block content %} 
{% if airplane_list %}
<div>
  <h1>Upcoming Flights</h1>
  <p>H&W has the following record counts:</p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for airplane in airplane_list %}
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ airplane.airplane_destination }}</h5>
          <p class="card-text">{{ airplane.airplane_name }}</p>
          <p class="card-text">{{ airplane.airplane_date_of_departure }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</html>
 {% else %} 
 {% endif %} 
 {% endblock %}
