{% extends "airline/b_generic.html" %} 

{% block content %} 
  {% if airplane %}
  <h1>Upcoming Flights</h1>
  <p>H&W has the following record counts:</p>
  <div class="card-group">
    {% for airplane in airplane_list %}
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ destination }}</h5>
        <p class="card-text">{{ airplane }}</p>
        <p class="card-text">{{ date }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  {% endblock %}
